:root[class*='app-dark'] {
    --surface-ground: var(--p-surface-950);
    --code-background: var(--p-surface-800);
    --code-color: var(--p-surface-100);
    --mada-shadow-dark: inset 0 2px 0px rgba(255, 255, 255, 0.379),0 0 9px rgba(0, 0, 0, 0.2),0 3px 8px rgba(0, 0, 0, 0.15);
    --mada-border-dark: rgba(255, 255, 255, 0.5);
}
