:root {
    --surface-ground: var(--p-surface-100);
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
    --mada-shadow-light: inset 0 2px 0px rgba(255, 255, 255, 0.934),0 0 9px rgba(0, 0, 0, 0.2),0 3px 8px rgba(0, 0, 0, 0.15);
    --mada-border-light: rgba(255, 255, 255, 0.6);
}
